/vendor
/node_modules
/public/hot
/public/storage
/public/imagen
/public/imagen_5s
/public/entregas
/storage/*.key
.phpunit.result.cache
docker-compose.override.yml
/public/imagen_productos/
/public/pedidoespecial/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.idea
/.vscode
.env
config/app.php
config/livewire.php


*.lock
vendor/

public/archivos_baja
public/facturas
public/imagen_resguardo
public/archivos
public/reportes

config/app.php
config/livewire.php
